# 系统文件
.DS_Store
Thumbs.db

# 编译文件
*.class
*.exe
*.dll
*.so

# 文档文件
assets/docs/
assets/export/

# 模型文件
*.stl
*.sldprt

# 媒体文件
*.mp4

# 压缩包
*.rar
*.7z
*.zip
*.gar.gz
*.xz

# 项目特定忽略
software/
node_modules/
__pycache__/
# Excalidraw/

*未命名*
*草稿*
.obsidian/themes/
.obsidian/plugins/
.obsidian/canvas.json
.obsidian/switcher.json
.obsidian/hotkeys.json
.obsidian/graph.json
.obsidian/core-plugins.json
.obsidian/app.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/workspace.json
.obsidian/workspace-mobile.json

english-phrases-flashcards.md
english-words-flashcards.md

# AI agent tools
.agents/
skills-lock.json
