# 系统文件
.DS_Store
Thumbs.db

# 编译文件
*.class
*.exe
*.dll
*.so

# 文档文件
*.pdf
*.doc
*.docx
*.log

# 模型文件
*.stl
*.sldprt

# 媒体文件
*.mp4

# 项目特定忽略
software/
node_modules/
__pycache__/
# Excalidraw/

*未命名*
*/export/

*草稿*
.obsidian/plugins/remember-cursor-position/cursor-positions.json
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# AI agent tools
.agents/
skills-lock.json
