/* 为编辑器内容增加左内边距，为行号腾出空间 */
.cm-content {
    padding-left: 40px !important;
}


/* 隐藏 “笔记属性” */
.metadata-properties-heading {
    display: none;
}


/* 将 <u> 标签改为绿色波浪线，且文字颜色不变 */
u, .cm-underline {
    text-decoration: #00AE42 wavy underline 2px;    /* 波浪下划线 */
    text-underline-offset: 4px;             /* 线与正文间隙 */
    /* text-decoration-color: ;       指定波浪线颜色 */
    color: inherit;                          /* 文字颜色继承 */
}

/* bold 粗体颜色 */
strong, 
.cm-s-obsidian .cm-formatting-strong,
.cm-s-obsidian .cm-strong {
    color: #fff0e0 !important; /* 替换成你想要的颜色 */
}


/* 阅读模式 + 源码编辑模式 引用块竖线统一变色 blockquote */
.markdown-rendered blockquote {
    border-left-color: #8B5CF6 !important;
    border-left-width: 3px !important;
}
.cm-blockquote {
    border-left-color: #8B5CF6 !important;
    border-left-width: 3px !important;
}